/* reset */
* {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: url("../image/背景2.jpg");
    background-size: cover;
    overflow: hidden;
}

/* 欢迎界面设置 */
div#welcom-menu {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
div#welcom-menu h1 {
    margin-bottom: 1em;
    font-size: 2em;
    color: white;
    text-shadow: 0 0.2em 0.1em black;
}
div#welcom-menu div button {
    display: block;
    width: 7em;
    border: 1px solid white;
    border-radius: 3px;
    margin: 0 auto 0.1em;
    background: transparent;
    font-weight: bold;
    color: white;
}

/* 游戏说明界面 */
div.panel {
    display: none;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 2px solid white;
    border-radius: 5px;
}
div.panel h2 {
    margin: 0.5em 0;
    font-size: 1.5em;
    color: white;
}
div#direction p {
    padding: 0 1em;
    margin-bottom: 1em;
    color: white;
}
div.panel button {
    border: 1px solid white;
    border-radius: 3px;
    margin-bottom: 0.5em;
    padding: 0.2em 0.3em;
    background: transparent;
    line-height: 1;
    color: white;
}

/* 游戏设置界面 */
div#setting {
    display: none;
}
div#setting ul {
    list-style: none
}
div#setting ul li {
    height: 2.2em;
}
div#setting span {
    color: white;
    margin: 0 1em 0 0;
}
div#setting select {
    width: 7em;
    height: 1.5em;
    font-size: 0.9em;
}